* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #D76D0B;
    --back: #15151C;
    --secondary: #f09d50;
    --header: #222222;
}

#tsparticles {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--back);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}